.env
/data
pdf_list.py
Informe_semanal_v2/main/_build/.doctrees/environment.pickle
C:/Proyectos Digitalización/Bancolombia/CB_informes_Ubi/Informe_semanal_v2/main/_build/.doctrees/environment.pickle
main/_build/.doctrees/environment.pickle
*.pickle
